@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section JavaScriptsInHead
{
    <script src="~/Scripts/Controller/order-controller.js"></script>
    <script type="text/javascript">
        registrationModule.factory('bootstrappedDataOrders', function () {
            return {
                orders : @Html.Raw(Model)
            };
        })
     </script>
}


<div class="container" ng-controller="OrderController" >
    <h2>Orders</h2>
    <div class="row">
        <div class="span10">
            <table class="table table-condensed table-hover">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                   
                </tr>
                <tr ng-repeat="order in orders">
                    <td>{{order.orderId}}</td>
                    <td>{{order.description}}</td>
                    
                </tr>
            </table>
        </div>
    </div>

</div>
