@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products {{1+1}}</h2>

<div class="container" ng-init="products = [ { name : 'Nokia', price : 'C12' } ] ">
    <div class="row">
        <div class="span10">
            <div class="table table-condensed table-hover">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                   
                </tr>
                <tr ng-repeat="product in products">
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    
                </tr>
            </div>
        </div>
    </div>

</div>
