@model string
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavaScriptsInHead
{
    <script src="~/Scripts/Controller/product-controller.js"></script>
    <script type="text/javascript">
        registrationModule.factory('bootstrappedData', function () {
            return {
                products : @Html.Raw(Model)
            };
        })
     </script>
}


<div class="container" ng-controller="ProductController" >
    <h2>Products {{1+1}}</h2>
    <div class="row">
        <div class="span10">
            <table class="table table-condensed table-hover">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                   
                </tr>
                <tr ng-repeat="product in products">
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    
                </tr>
            </table>
        </div>
    </div>

</div>
